{% load staticfiles %}

<section class="main">
	<section class="search">
		<input name="name" id="animeViewer-name" type="text">
		<a href="javascript:void(0)" class="search">Pesquisar</a>
	</section>
	<section class="anime-list">
	    {% for anime in animeList %}
        <ul>
            <li>
                <a href="javascript:void(0)">
                    <img src="http://www.anime-planet.com{{ anime.image }}">
                    {{ anime.title }}
                </a>
            </li>
        </ul>
        {% endfor %}
	</section>
	<section class="search-result">
	</section>
	<section class="loader hide">
	    <img src="{% static 'images/loader.gif' %}">
	</section>
</section>