{% load staticfiles %}

{% block content %}
<div class="main">
    <div class="button-container">
        <a href="javascript:void(0)" id="listFiles" class="button">
            <img src="{% static 'images/folder.png' %}">
        </a>
    </div>
    <div class="button-container">
        <a href="javascript:void(0)" class="button command" data-commandText="seekl30">
            <img src="{% static 'images/arrow3_w.png' %}">
        </a>
        <a href="javascript:void(0)" class="button command" data-command="p">
            <img src="{% static 'images/play.png' %}">
        </a>
        <a href="javascript:void(0)" class="button command" data-command="q">
            <img src="{% static 'images/stop.png' %}">
        </a>
        <a href="javascript:void(0)" class="button command" data-commandText="seekp30">
            <img src="{% static 'images/arrow3_e.png' %}">
        </a>
    </div>
    <div class="button-container">
        <a href="javascript:void(0)" class="button command" data-command="i">
            <img src="{% static 'images/back.png' %}">
        </a>
        <a href="javascript:void(0)" class="button command" data-commandText="seekl600">
            <img src="{% static 'images/previous.png' %}">
        </a>
        <a href="javascript:void(0)" class="button command" data-commandText="seekp600">
            <img src="{% static 'images/next.png' %}">
        </a>
        <a href="javascript:void(0)" class="button command" data-command="o">
            <img src="{% static 'images/forward.png' %}">
        </a>
    </div>
    <div class="button-container">
        <a href="javascript:void(0)" class="button command" data-commandText="volumedown">
            <img src="{% static 'images/mute.png' %}">
        </a>
        <a href="javascript:void(0)" class="button command" data-commandText="volumeup">
            <img src="{% static 'images/volume.png' %}">
        </a>
    </div>
    <div class="button-container">
        <a href="javascript:void(0)" class="button command" data-command="j">
            <img src="{% static 'images/back.png' %}">
        </a>
        <a href="javascript:void(0)" class="button command" data-command="k">
            <img src="{% static "images/forward.png" %}">
        </a>
        <a href="javascript:void(0)" class="button command" data-command="2">
            <img src="{% static "images/previous.png" %}">
        </a>
        <a href="javascript:void(0)" class="button command" data-command="1">
            <img src="{% static "images/next.png" %}">
        </a>
    </div>
    <div class="button-container">
        <a href="javascript:void(0)" class="button command" data-command="s">
            <img src="{% static "images/binary.png" %}">
        </a>
    </div>
    <div class="button-container">
        <a href="javascript:void(0)" class="button command" data-command="n">
            <img src="{% static "images/back.png" %}">
        </a>
        <a href="javascript:void(0)" class="button command" data-command="m">
            <img src="{% static "images/forward.png" %}">
        </a>
        <a href="javascript:void(0)" class="button command" data-command="d">
            <img src="{% static "images/previous.png" %}">
        </a>
        <a href="javascript:void(0)" class="button command" data-command="f">
            <img src="{% static "images/next.png" %}">
        </a>
    </div>
</div>
<div id="window"></div>
{% endblock %}
