{% load staticfiles %}
<a href="javascript:void(0)" data-dir="{{ prevFolder }}" id="upFolder">
    <img src="{% static "images/open.png" %}">
</a><br>


Directories
<ul>
    {% for directorie in directories %}
        <li><a href="javascript:void(0)" class="listFiles" data-dir="{{ dirpath }}{{ directorie }}/"><img class="icon" src="{% static "images/folder64.png" %}">{{ directorie }}</a></li>
    {% endfor %}
</ul>
<br>
Files
<ul>
    {% for file in files %}
        <li><a href="javascript:void(0)" class="file" data-file="{{ dirpath }}{{ file }}"><img class="icon" src="{% static "images/file64.png" %}">{{ file }}</a></li>
    {% endfor %}
</ul>


<a href="javascript:void(0)" class="back">Back</a>