#animeviewer .search{
    margin: 10px 10px 0 10px;
}

#animeviewer input{
    border: 1px solid #e6e6e6;
    padding: 5px 2px;
    font-size: 1em;
}

#animeviewer input:focus{
    outline: none;
}

#animeviewer .search-result{
    position: absolute;
    top: 50px;
    left: 10px;
    right: 10px;
    bottom: 0;
    overflow: auto;
}

#animeviewer .search-result ul{
    margin: 0 5px;
    padding: 0;
}

#animeviewer .search-result li{
    margin: 5px 3% 30px 3%;
    float:left;
    width: 44%;
}

#animeviewer .search-result img{
    width: 100%;
}