.manga-chapter{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow:auto;
	z-index: 1;
	background-color:black;
}

.manga-chapter img{
	width:100%;
}

.manga-chapter.hidden{
	display: none;
}

.manga-chapter h1{
    margin: 10px 0;
    font-weight: 400;
    font-size: 20px;
}

.search{
    margin: 10px 10px 0 10px;
}

.search-result{
    position: absolute;
    top: 25px;
    left: 10px;
    right: 10px;
    bottom: 0;
    overflow: auto;
}

.search-result ul{
    margin: 0 5px;
    padding: 0;
}

.search-result li{
    margin: 5px 0;
    list-style: disc;
}